body {
    margin:0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gradient {
    background: rgb(168,239,255);
    background: linear-gradient(113deg, rgba(168,239,255,1) 0%, rgba(158,197,255,1) 100%);
}
.gradient2 {
    background: rgb(181,163,255);
    background: linear-gradient(113deg, rgba(181,163,255,1) 0%, rgba(132,188,255,1) 100%);
}
.primarycolor {
    color: #383D51
}

/* GENERIC */
.posthero {
    width:100%;
    height:340px;
}
.searchbar {
    width:100%;
    height:30px;
    background-color: white;
}
.searchbar h1 {
    position: relative;
    top:-17px;
    padding-left:20px; /* creates overflow if it uses left style??? I am literally convinced that CSS is pure witchcraft.*/
    font-weight: 500;
    font-size:30px;
    cursor: pointer;
}
.searchbar input {
    position: absolute;
    right:20px;
    top:10px;
    font-size: 17px;
    border: 1px gray solid;
    outline: none;
    border-radius: 20px;
    padding: 5px 10px;
    width:300px;
}
.searchbar input:focus {
    border: 1px black solid;
}
/* I will put search icon soon, but for now, this will be a search button with text instead.*/
.searchbar #search {
    position: absolute;
    right:27px;
    top:13px;
    border-radius: 20px;
    border:none;
    color:white;
    padding:5px 13px
}
.textalignCenter {
    text-align: center;
}


/* INDEX CSS */

.hero {
    padding-top:1px;
    width:100%;
    height:500px;
    font-weight: 600;
    text-align: center;
}

.logoindex {
    position: relative;

    vertical-align: top;
    font-size:40px;
    top:80px;
}
.slogan {
    position: relative;
    font-size:50px;
    top:50px;
}

.searchbarindex {
    width:40%;
    position: relative;
    top:30px;
    padding: 14px 20px;
    font-size:20px;
    outline: none;
    border:none;
    border-radius: 30px;
    left:55px;
    min-width: 220px;
}
.searchButton
{
    position: relative;
    left:-44px;
    font-size:17px;
    top:28px;
    padding: 10px 15px;
    border-radius: 30px;
    border:none;
    color:white;
    outline:none;
    cursor: pointer;
}

.cardsContainer {
    position: relative;
    top:-80px;
    text-align: center;
    word-spacing: 40px;
}

.cardsContainer a {

    position: relative;
    top:0;
    margin: auto;
    display:inline-block;
    width:220px;
    height:300px;
    background-color: rgb(255, 255, 255);
    border: 1px gray solid;
    transition: .2s top ease-in-out, .2s box-shadow ease-in-out;;
    cursor:pointer;
    border-radius: 20px;
    vertical-align: top;
    text-decoration: none !important;
}
.cardsContainer a svg {
    position: relative;
    top:25px;
    fill:#383D51;
    width:100px;
}
.cardsContainer a h1 { 
    color:#383D51;
}
.cardsContainer a:hover {
    position: relative;
    top:-20px;
    -webkit-box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.3);
}

/* JOIN CSS */
.joinContent {
    position: relative;
    bottom:260px;
    background-color: white;
    border: 1px solid gray;
    width:45%;
    padding: 10px 5%;
    height:45%;
    margin:auto;
    border-radius: 20px;
}
.joinContent h2 {
    font-weight: 500;
    margin-left:30px;
    margin-top:30px;
    font-size: 30px;
}
.joinContent p {
    margin-left:30px;
    margin-top:-20px;
    font-size: 25px;
}


/* ARTICLES */
.articleBody {
    position: relative;
    left:50px;
    top:-130px;
    background-color: white;
    border: 1px solid gray;
    width:60%;
    border-radius: 20px;
    padding: 0 40px;
}
.articleBody h1 {
    text-align: center;
    margin-top:40px;
    font-weight: 500;
    padding-bottom: 30px;
}